<div class="auth-container">
    <h2>Sign in</h2>
    <form action="/login" method="POST">
    <div class="form-control">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Digit your email">
    </div>
    <div class="form-control">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Digit your password">
    </div>
    <input type="submit" value="Sign in">
    <p>Still not a user? <a href="/register">Click here</a></p>
    </form>
</div>